.selection-chip {
  background-color: #c9c6c6;
  padding: 5px 8px !important;
  border-radius: 30px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 10px !important;
  margin-bottom: 10px;
  cursor: pointer;
}

.selection-chip-active {
  background-color: #286fe7;
  color: #FFFFFF;
}
