<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="./assets/images/logo/app-logo.svg"
  />
  <span>Beepify</span>
</div>

<div class="content" role="main">
  <div style="width: 100%; display: flex;" *ngIf="keySounds?.length">
    <div style="width: 100%;">
      <div style="font-size: 18px; font-weight: normal; margin-bottom: 20px;">Key Sounds</div>
      <div>
        <div class="selection-chip" beepifyControl="true" [id]="sound.key" [ngClass]="{'key-sound-selector': true, 'selection-chip-active': keySoundKey === sound.key}" (click)="selectSound('keySound', sound.key, sound.sound, $event.target)" *ngFor="let sound of keySounds">{{sound.label}}</div>
      </div>
    </div>
  </div>

  <div style="width: 100%; display: flex; margin-top: 20px;">
    <div style="width: 100%;">
      <div style="font-size: 18px; font-weight: normal; margin-bottom: 20px;">Enter Sounds</div>
      <div>
        <div class="selection-chip" beepifyControl="true" [id]="sound.key" [ngClass]="{'enter-sound-selector': true, 'selection-chip-active': enterSoundKey === sound.key}" (click)="selectSound('enterSound', sound.key, sound.sound, $event.target)" *ngFor="let sound of enterSounds">{{sound.label}}</div>
      </div>
    </div>
  </div>

  <div style="width: 100%; display: flex; margin-top: 20px;">
    <div style="width: 100%;">
      <div style="font-size: 18px; font-weight: normal; margin-bottom: 20px;">Click Sounds</div>
      <div>
        <div class="selection-chip" beepifyControl="true" [id]="sound.key" [ngClass]="{'click-sound-selector': true, 'selection-chip-active': clickSoundKey === sound.key}" (click)="selectSound('clickSound', sound.key, sound.sound, $event.target)" *ngFor="let sound of clickSounds">{{sound.label}}</div>
      </div>
    </div>
  </div>

  <!--<div style="width: 100%; display: flex; margin-top: 20px;">
    <div style="width: 100%;">
      <div style="font-size: 18px; font-weight: normal; margin-bottom: 20px;">Open AI Chat Sounds</div>
      <div>
        <div class="selection-chip" beepifyControl="true" [id]="sound.key" [ngClass]="{'chatGPT-sound-selector': true, 'selection-chip-active': chatGPTSoundKey === sound.key}" (click)="selectSound('chatGPTSound', sound.key, sound.sound, $event.target)" *ngFor="let sound of chatGPTSounds">{{sound.label}}</div>
      </div>
    </div>
  </div>-->
</div>
